infra/automations/apollo-reply-to-attio-contact.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": {
      "defaultValue": {},
      "type": "Object"
    },
    "attio_api_token": {
      "defaultValue": "",
      "type": "SecureString",
      "metadata": {
        "description": "Bearer token for Attio API (Settings > API > Personal Access Token)"
      }
    },
    "apollo_mailbox_folder": {
      "defaultValue": "Inbox",
      "type": "String",
      "metadata": {
        "description": "Office 365 mailbox folder where Apollo replies arrive"
      }
    },
    "attio_pipeline_slug": {
      "defaultValue": "sales_pipeline",
      "type": "String",
      "metadata": {
        "description": "Attio list/pipeline slug to add contacts to (find via GET /v2/lists)"
      }
    }
  },
  "triggers": {
    "When_a_new_email_arrives_in_Apollo_mailbox": {
      "type": "ApiConnectionNotification",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['office365']['connectionId']"
          }
        },
        "fetch": {
          "method": "get",
          "pathTemplate": {
            "template": "/v2/Mail/OnNewEmail",
            "parameters": {
              "folderPath": "@parameters('apollo_mailbox_folder')",
              "importance": "Any",
              "fetchOnlyWithAttachment": false,
              "includeAttachments": false
            }
          }
        },
        "subscribe": {
          "method": "post",
          "pathTemplate": {
            "template": "/v2/Mail/OnNewEmailSubscription",
            "parameters": {
              "folderPath": "@parameters('apollo_mailbox_folder')",
              "importance": "Any",
              "fetchOnlyWithAttachment": false,
              "includeAttachments": false
            }
          }
        }
      },
      "recurrence": {
        "frequency": "Minute",
        "interval": 3
      }
    }
  },
  "actions": {
    "Parse_sender_info": {
      "type": "Compose",
      "inputs": {
        "sender_email": "@triggerOutputs()?['body/from']",
        "subject": "@triggerOutputs()?['body/subject']",
        "reply_body": "@triggerOutputs()?['body/bodyPreview']",
        "sender_name_parts": "@split(coalesce(triggerOutputs()?['body/from'], ''), ' ')"
      },
      "runAfter": {}
    },
    "Upsert_contact_in_Attio": {
      "type": "Http",
      "inputs": {
        "method": "PUT",
        "uri": "https://api.attio.com/v2/objects/people/records?matching_attribute=email_addresses",
        "headers": {
          "Authorization": "Bearer @{parameters('attio_api_token')}",
          "Content-Type": "application/json"
        },
        "body": {
          "data": {
            "values": {
              "email_addresses": [
                "@{triggerOutputs()?['body/from']}"
              ],
              "source": "May5Launch"
            }
          }
        }
      },
      "runAfter": {
        "Parse_sender_info": [
          "Succeeded"
        ]
      }
    },
    "Parse_Attio_upsert_response": {
      "type": "ParseJson",
      "inputs": {
        "content": "@body('Upsert_contact_in_Attio')",
        "schema": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "object",
                  "properties": {
                    "record_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "runAfter": {
        "Upsert_contact_in_Attio": [
          "Succeeded"
        ]
      }
    },
    "Set_pipeline_stage_to_Prospect": {
      "type": "Http",
      "inputs": {
        "method": "PUT",
        "uri": "https://api.attio.com/v2/lists/@{parameters('attio_pipeline_slug')}/entries",
        "headers": {
          "Authorization": "Bearer @{parameters('attio_api_token')}",
          "Content-Type": "application/json"
        },
        "body": {
          "data": {
            "parent_record_id": "@{body('Parse_Attio_upsert_response')?['data']?['id']?['record_id']}",
            "parent_object": "people",
            "entry_values": {
              "stage": "Prospect"
            }
          }
        }
      },
      "runAfter": {
        "Parse_Attio_upsert_response": [
          "Succeeded"
        ]
      }
    }
  },
  "outputs": {}
}
